:root {
  --color-blue: #005eff;
  --color-blue-lightest: #f5f5f7;
  --color-gray: #6e6e73;
  --color-gray-2: #888;
  --color-error-red: #ff4f00;
}

html,
body {
  @apply min-h-full w-full bg-white font-sans text-black antialiased;
  -webkit-text-size-adjust: 100%;

  .tippy-box {
    @apply rounded-lg text-sm;

    &[data-theme~="light"] {
      @apply bg-white bg-opacity-70 shadow backdrop-blur;

      &[data-placement^="top"] > .tippy-arrow:before {
        @apply -bottom-[8px] border-t-white/70;
      }

      &[data-placement^="bottom"] > .tippy-arrow:before {
        @apply -top-[8px] border-b-white/70;
      }
    }
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
